<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Window Splitter</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js">
</head>
<body>
    <!-- <div class="window active"></div> -->
	<script type="module" src="{{ url_for('static', filename='js/stack.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>

